.board {
  display: grid;
  grid-template-columns: 260px 1fr;
  overflow: hidden;
  height: calc(100vh - 140px);
  min-height: 600px;
}

@media (max-width: 900px) {
  .board {
    grid-template-columns: 1fr;
  }

  .board > :first-child {
    display: none;
  }
}
