.button {
  align-self: center;
  padding: 1rem 0.75rem;
  cursor: pointer;

  font-size: 1em;
  border: none;
  border-radius: 14px;
  background-color: var(--cta-bg);
  color: var(--cta-text);
}

.button:hover {
  background-color: var(--cta-hover-bg);
}

.button:active {
  transform: scale(0.98);
}

.button:focus {
  outline: 0.25em solid var(--cta-outline);
}

.svg {
  cursor: pointer;
  background: none;
  font-size: 1em;
  border: none;
  border-radius: 14px;
}

.danger {
  align-self: center;
  padding: 1rem 0.75rem;
  cursor: pointer;

  font-size: 1em;
  border: none;
  border-radius: 14px;

  background-color: var(--background-error);
  color: var(--color-error);
}

.danger:focus {
  outline: 0.25em solid var(--color-error);
}

.danger:hover {
  background-color: var(--background-error-hover);
}

.close {
  position: absolute;
  right: 10px;
  font-size: xx-large;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--text-color);
}

.close:hover {
  color: var(--cta-bg);
}
