.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 1rem;
  border: 2px solid var(--border-color);
  padding: 0.5rem;
  color: var(--text-color);
  border-radius: 10px;
}

.input,
.select,
.textarea {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 2px solid var(--border-color);
  border-radius: 8px;
  background-color: var(--input-bg);
  color: inherit;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input:focus,
.select:focus,
.textarea:focus {
  border-color: slategray;

  box-shadow: 0 0 5px rgba(112, 128, 144, 0.5);
}

.textarea {
  resize: vertical;
  min-height: 100px;
}

.button {
  align-self: center;
  padding: 1rem 0.75rem;
  cursor: pointer;

  font-size: 1rem;
  background-color: var(--cta-bg);
  color: var(--cta-text);
  border: none;
  border-radius: 14px;
}

.button:hover {
  background-color: var(--cta-hover-bg);
}

.button:active {
  transform: scale(0.98);
}

.error {
  font-size: 0.875rem;
  color: var(--color-error);
  background-color: var(--background-error);
  padding: 0.5rem;
  border-radius: 6px;
  border-left: 5px solid var(--border-error);
  margin-top: -0.5rem;
}
