.button {
  position: relative;
  left: 75px;
  font-size: xxx-large;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--cta-text);
}

.button:hover {
  color: var(--cta-bg);
}

.weekScroll {
  display: grid;
  grid-template-columns: repeat(7, minmax(180px, 1fr));
  overflow-x: auto;
  overflow-y: hidden;
}

.weekScrollFiveColumns {
  grid-template-columns: repeat(5, minmax(180px, 1fr));
}

.weekScroll::-webkit-scrollbar {
  height: 8px;
}

.weekScroll::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: 4px;
}
