.columnWrapper {
  display: grid;
  grid-template-columns: repeat(8, minmax(300px, 1fr));
  gap: 0.5rem;
  margin: 0 32px;
  min-height: 75vh;
  overflow-x: scroll;
}

.button {
  position: relative;
  left: 75px;
  font-size: xxx-large;
  cursor: pointer;
  border: none;
  background: none;
}

.button:hover {
  color: var(--hover-color);
}
