.innerWrapper {
  position: relative;
  top: 7.5vh;
  max-width: 350px;
  transform: translate(calc(50vw - 50%));
}

@media (width > 667px) {
  .innerWrapper {
    max-width: 500px;
    top: 20vh;
  }
}

.outerWrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  backdrop-filter: blur(10px);
  z-index: 10;
}
