.button {
  position: absolute;
  right: 10px;
  font-size: xx-large;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--cta-text);
}

.button:hover {
  color: var(--cta-bg);
}

.innerWrapper {
  position: relative;
  top: 7.5vh;
  max-width: 350px;
  transform: translate(calc(50vw - 50%));
}

@media (width > 667px) {
  .innerWrapper {
    max-width: 500px;
    top: 20vh;
  }
}

.outerWrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  backdrop-filter: blur(10px);
  z-index: 10;
}
